body {
    margin: 0;
    font-family: Arial;
    background: url('shop.jpg') no-repeat center center/cover;
}

/* Light overlay */
.overlay {
    background: rgba(255,255,255,0.6);
    height: 100vh;
    text-align: center;
    padding-top: 80px;
}

/* Telugu */
.telugu {
    color: purple;
    font-size: 24px;
}

/* Main Title */
.title {
    color: deeppink;
    font-size: 45px;
}

/* Subtitle */
.subtitle {
    margin: 15px;
    font-size: 18px;
}

/* Menu */
.menu {
    margin-top: 20px;
}

.menu a {
    text-decoration: none;
    margin: 10px;
    padding: 10px 20px;
    background: #00bfff;
    color: white;
    border-radius: 5px;
}

.menu a.active {
    background: pink;
    color: black;
    font-weight: bold;
}
